<mat-grid-list cols="1" rowHeight="36px"> 
    <!-- <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.github.com')">
                <mat-icon svgIcon="github"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.linkedin.com')">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.telegram.com')">
                <mat-icon svgIcon="telegram"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.skype.com')">
                <mat-icon svgIcon="skype"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.microsoftoutlook.com')">
                <mat-icon svgIcon="microsoftoutlook"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.youtube.com')">
                <mat-icon svgIcon="youtube"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.facebook.com')">
                <mat-icon svgIcon="facebook"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.instagram.com')">
                <mat-icon svgIcon="instagram"></mat-icon>
            </button>
        </div>
    </mat-grid-tile> -->

    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.github.com')">
                <mat-icon svgIcon="github"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.telegram.com')">
                <mat-icon svgIcon="telegram"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.skype.com')">
                <mat-icon svgIcon="skype"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.microsoftoutlook.com')">
                <mat-icon svgIcon="microsoftoutlook"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.youtube.com')">
                <mat-icon svgIcon="youtube"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.github.com')">
                <mat-icon svgIcon="github"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.facebook.com')">
                <mat-icon svgIcon="facebook"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://www.instagram.com')">
                <mat-icon svgIcon="instagram"></mat-icon>
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>