/* You can add global styles to this file, and also import other style files */

/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    overflow-x: hidden;
    background-color: #212121;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;    
    font-family: 'Anonymous Pro', monospace;
} */