/* Styles for tab labels */
.mat-tab-label {
    font-size: 110%;
    font-weight: bold;
}

/* Styles for the active tab label */
.mat-tab-label-active {
    font-size: 130%;
    font-weight: bolder;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #212121 !important;
}

