<mat-drawer-container autosize class="main-container">
  <mat-drawer mode="side" opened>
    <div>
      <h6 style="font-size: 1.9em;">Hello World</h6>
      <h1 style="font-size: 1.6em; padding-top: 30px;">
        I'm <!-- Welcome to {{ title }}! -->
      </h1>
      <span class="letter" data-letter="S">S</span>
      <span class="letter" data-letter="A">A</span>
      <span class="letter" data-letter="M">M</span>
      <span class="letter" data-letter="I">I</span>
      <span class="letter" data-letter="N">N.</span>
    </div>
    <social-links></social-links>
  </mat-drawer>
  <mat-drawer-content>
    <app-tabs></app-tabs>
  </mat-drawer-content>
</mat-drawer-container>