<div class="skills">
    <mat-grid-list cols="5" rowHeight="100px" class="skillList"> 
        <mat-grid-tile *ngFor="let skill of skills" class="skill">
            <div class="clearfix">
                <div [class]="skill.percent">
                    <span>{{skill.value}}</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            {{skill.name}}
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- <div class="skills">
    <div class="skillList">
        <div *ngFor="let skill of skills" class="skill">
            <div class="clearfix">
                <div [class]="skill.percent">
                    <span>{{skill.value}}</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            {{skill.name}}
        </div>
    </div>
</div> -->